<form action="/users/signup" method="POST">
    <label for="Formt">Form:</label>

<label for="switch">Choisissez une ville:</label>

<select name="city">
    <option value="">--Choisissez une ville--</option>
    <option value="Paris">Paris</option>
    <option value="London">Londres</option>
    <option value="LA">Los Angeles</option>
</select>

    <input type="email" placeholder="Votre email" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password">
    <button type="submit">Envoyer</button>
</form>

